.navigation_link {
    box-sizing: border-box;
    height: 56px;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    border-radius: 40px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .navigation_link:hover {
    opacity: 0.7;
  }
  
  .link_name {
    text-decoration: none;
    color: #f2f2f3;
  }

  .link_name_inactive {
    color: #8585ad;
  }