.content {
  display: grid;
  width: 1240px;
  grid-template-columns: 320px 480px;
  gap: 60px;
  height: 100%;
}

.column_form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column_menu {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.paragraph {
  max-width: 100%;
  opacity: 0.4;
}
