.component {
  box-sizing: border-box;
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component:last-of-type {
  margin-bottom: 0;
}

.component_type_locked {
  justify-content: end;
}

.component_position_bottom {
  margin-bottom: 0;
}
